body {
    margin: 0;
    padding: 0;
}

#map {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#overviewMap {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 26vw;
    height: 30vh;
    border: 1px solid #ccc;
    border-radius: 5px;
    z-index: 1;
}

#sliderContainer {
    position: absolute;
    bottom: 10px;
    left: 10px;
    background: rgba(248, 246, 246, 0.5);
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    z-index: 1;
    width: 39vw;
}

#slider {
    width: 40vw;
    top: 11vh;
    position: absolute;
    left: 12px;
}

#sliderLabels {
    position: relative;
    height: 20px;
    margin-top: 35px;
}

.label {
    position: absolute;
    transform: translateX(-50%);
    font-size: 12px;
    font-weight: bold;
    right: 58px;
}

#controls {
    position: absolute;
    bottom: 1px;
    left: 47vw;
    background: rgba(243, 243, 243, 0.5);
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    z-index: 1;
    white-space: nowrap;
    width: 48vw;
}

.control-button {
    display: inline-block;
    margin: 5px;
}

.control-button img {
    width: 32px;
    /* Adjust as needed */
    height: 32px;
    /* Adjust as needed */
    display: block;
    margin-bottom: 5px;
    /* Space between image and button */
}

.control-button button {
    background: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
    color: rgb(8, 8, 8);
    font-size: 14px;
    text-align: center;
    font-weight: bold;
}

.control-button button:focus {
    outline: none;
}

#videoContainer {
    position: absolute;
    top: 48.2vh;
    right: 10px;
    background: rgba(248, 246, 246, 0.5);
    border-radius: 5px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

#video {
    width: 31vw;
    height: auto;
}


#toggleButton {
    position: absolute;
    top: 33vh;
    right: 12px;
    z-index: 1;
    background: rgba(248, 246, 246, 0.5);
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-weight: bold;
}

#toggleButton1 {
    position: absolute;
    top: 41vh;
    right: 12px;
    z-index: 1;
    background: rgba(248, 246, 246, 0.5);
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-weight: bold;
}